.sign-up .row
{
padding:10px;
}

.sign-up-heading{
	
	padding:10px 30px;
}

.sign-up-sub-heading{
	padding:10px 10px;
}
.sign-up .col-md-4:after{
	content: "";
  background-color: grey;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 	0px;
  left: 100%;
  display: block;
}

.image-logo{
	width:100%;
}

.adt5-form{
	background: linear-gradient(to bottom,#008cfd 0,#045eb5 100%);
}

.adt5-form .container{
	padding:20px 0;
}
.adt5-form-fields-container{
	padding:20px 0;
}

.form-field{
	margin-bottom:0.65em;
}

.form-content{
	position: relative;
    margin-bottom: .1rem;
    border: 1px solid transparent;
}

.form-required{
	font-size:10px;
	padding: 0 5px;
}



.form-input{
	display: block;
    width: 100%;
    padding: 15px 10px 15px 10px;
    font-size: .9rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
}
.button-go button{
	width: 80%;
    height: 107px;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Open Sans',sans-serif;
    transition: all .3s;
    background-color: #ff9600;
    cursor: pointer;
    
    /* box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2); */
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.2);
	border: 1px solid transparent;
}

.button-go button:hover{
	
	opacity:0.9;
}
	
.form-quote{
	color:white;
	padding:10px 0;
	font-family: 'Open Sans',sans-serif;
	font-size:12px;

}
.form-group  label.on {
    top: 5px;
    left: 12px;
    font-size: .8rem !important;
    font-weight: normal;
    color:#303538;
}
.form-group  label.show {
    top: 5px;
    left: 10px;
    font-size: .8rem !important;
    opacity:1;
    font-weight: normal;
}
.form-content-label{
  position: absolute;
    top: 10px;
    left: 15px;
    line-height: 1.55;
    font-size: 1rem;
    font-weight: 400;
    color: #303538;
    cursor: text;
    transition: transform 150ms ease-out,font-size 150ms ease-out;
} 


.on
 {
	top:5px; 
	left:10px;
	font-size:.8rem !important;
	opacity:1;
	font-weight:normal;
	padding-bottom:10px;
}






